<!DOCTYPE html>
<html lang="en">
<div th:include="components/header"></div>
<body role="document" style="min-height:100%;">
<div th:include="components/nav"></div>


		<main role="main">
					<div class="row-listing doc-main">
<ul class="listing">
  <li>
    <h2>Street Bob</h2>
    <div class="body"><p>The content of this listing item goes here.</p>
    <img src="https://motorcycles.harley-davidson.com/content/dam/h-d/images/motorcycles/my18/softail/street-bob/key-features/dom/kf2-New-Softail-Frame.jpg?imwidth=404"></img> 
    </div>
    <div class="cta"><a href="">Call to action!</a></div>
  </li>
   <li>
     <h2>Roadster</h2>
     <div class="body"><p>The content of this listing item goes here.</p>
     <img src="https://motorcycles.harley-davidson.com/content/dam/h-d/images/motorcycles/my18/sportster/roadster/key-features/dom/kf4-roadster-43mm-front-suspension-with-inverted-forks.jpg?imwidth=404"></img>
     </div>
     <div class="cta"><a href="">Call to action!</a></div>
   </li>
   <li class="wide">
     <h2>Street 500</h2>
     <div class="body"><p>The content of this listing item goes here.</p> 
     <p>This one has more text than the other items.</p>
     <p>Quite a lot more</p>
     <p>Perhaps we could do something different with it?</p>
  <img src="https://motorcycles.harley-davidson.com/content/dam/h-d/images/motorcycles/my18/street/street-500/key-features/dom/kf3-500-light-lift-off-force.jpg?imwidth=404"></img>
   
     </div>
     <div class="cta"><a href="">Call to action!</a></div>
    </li>
    <li>
     <h2>Softail Deluxe</h2>
     <div class="body"><p>The content of this listing item goes here.</p>
         <img src="https://motorcycles.harley-davidson.com/content/dam/h-d/images/motorcycles/my18/softail/deluxe/key-features/dom/kf5-New-Softail-Frame.jpg?imwidth=404"></img>
     </div>
     <div class="cta"><a href="">Call to action!</a></div>
    </li>
     <li>
     <h2>Heritage Classic</h2>
     <div class="body"><p>The content of this listing item goes here.</p>
              <img src="https://motorcycles.harley-davidson.com/content/dam/h-d/images/motorcycles/my18/softail/heritage-classic/key-features/dom/kf2-New-Softail-Frame.jpg?imwidth=404"></img>
     </div>
      <div class="cta"><a href="">Call to action!</a></div>
    </li>
         <li>
     <h2>Road King</h2>
     <div class="body"><p>The content of this listing item goes here.</p>
              <img src="https://motorcycles.harley-davidson.com/content/dam/h-d/images/motorcycles/my18/touring/road-king/key-features/dom/kf3-dual-valve-front-suspension.jpg?imwidth=404"></img>
     </div>
      <div class="cta"><a href="">Call to action!</a></div>
    </li>
         <li>
     <h2>Road King Special</h2>
     <div class="body"><p>The content of this listing item goes here.</p>
              <img src="https://motorcycles.harley-davidson.com/content/dam/h-d/images/motorcycles/my18/touring/road-king-special/key-features/dom/kf3-blacked-out-custom-styling.jpg?imwidth=404"></img>
     </div>
      <div class="cta"><a href="">Call to action!</a></div>
    </li>
         <li>
     <h2>Road Glide</h2>
     <div class="body"><p>The content of this listing item goes here.</p>
              <img src="https://motorcycles.harley-davidson.com/content/dam/h-d/images/motorcycles/my18/touring/road-glide/key-features/dom/kf1-shark-nose-fairing.jpg?imwidth=404"></img>
     </div>
      <div class="cta"><a href="">Call to action!</a></div>
    </li>
         <li>
     <h2>Street Rod</h2>
     <div class="body"><p>The content of this listing item goes here.</p>
     
     <img src="https://motorcycles.harley-davidson.com/content/dam/h-d/images/motorcycles/my18/street/street-rod/key-features/dom/kf6-street-rod-two-piece-2-up-seat.jpg?imwidth=404"></img>
     </div>
      <div class="cta"><a href="">Call to action!</a></div>
    </li>
         <li>
     <h2>Softail Slim</h2>
     <div class="body"><p>The content of this listing item goes here.</p>
     <img src="https://motorcycles.harley-davidson.com/content/dam/h-d/images/motorcycles/my18/softail/softail-slim/key-features/dom/kf1-dark-polished-finishes.jpg?imwidth=404"></img>
     </div>
      <div class="cta"><a href="">Call to action!</a></div>
    </li>
         <li>
     <h2>Fat Boy</h2>
     <div class="body"><p>The content of this listing item goes here.</p>
     <img src="https://motorcycles.harley-davidson.com/content/dam/h-d/images/motorcycles/my18/softail/fat-boy/key-features/dom/kf2-steamroller-stance.jpg?imwidth=404"></img>
     </div>
      <div class="cta"><a href="">Call to action!</a></div>
    </li>
             <li>
     <h2>Street 500</h2>
     <div class="body">
     <p>The content of this listing item goes here.</p>
     <img src="https://motorcycles.harley-davidson.com/content/dam/h-d/images/motorcycles/my18/street/street-500/key-features/dom/kf3-500-light-lift-off-force.jpg?imwidth=404"></img>
     </div>
      <div class="cta"><a href="">Call to action!</a></div>
    </li>
</ul>
</div>
 	</main>
<div th:include="components/footer"></div>
 
</body>
</html>
